body{
    background-color: #35363A;
    color:rgba(255,255,255,1);
    text-decoration-color: rgba(232,234,237,1);
    padding:0;
    margin:0;
}
.nav-link{
    margin-right: 1em !important;
}
/*.navbar{
    background-color: antiquewhite;
}*/
.nav-link:hover{
    color:white;
}
.navbar-collapse{
    justify-content:flex-end;
}
.description{
    left: 50%;
    position: absolute;
    top: 35%;
    transform: translate(-50%, -55%);
    text-align: center;
}
.description p{
    color: #fff;
    font-size: 1.3rem;
    line-height: 5;
}
h1{
    font-size: 740%;
    font-family:Arial, Helvetica, sans-serif;
}
.form-control-underlined {
    border-width: 1000px;
    border-bottom-width: 100px;
    border-radius: 0;
    padding-left: 0;
}
.form-control::placeholder {
    font-size: 0.95rem;
    color: #aaa;
    font-style: italic;
}
